.logo {
  width: 250px;
  height: 250px;
}

body {
  background-color: #00142c; /* just for backup*/
  background: linear-gradient(0deg, rgba(1,63,138,1) 0%, rgba(0,20,44,1) 80%);
  background-attachment: fixed;
}

h1 {
  color: lavenderblush;
  text-align: center;
  font-family: 'Segoe UI'
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Tahoma';
  font-size: 20px;
}

.button {
  border: none;
  padding: 8px 16px;
  background-color: #5786ff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);

  font-size: large;
  color:whitesmoke;
  font-weight: bold;

  cursor: pointer;

  /*position for centering*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.button:hover {
  background-color: #86a8fd;
}

.box {
  width: 300px;
  height: 150px; 
  background-color: #f0f0f0; 
  padding: 20px; 
  border: 1px solid #ccc; 
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  
  /*position for centering*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box p {
  font-family: "Guill Sans", sans-serif; 
  color: #333; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
  overflow: hidden;
  
}

li {
  float: left;
}

li + li {
  margin-left: 10px;
}

li a {
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: "Guill Sans", sans-serif;

  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(16, 73, 143);

  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

li a:hover {
  background-color: rgb(44, 89, 145);
}