<!DOCTYPE html>
<html>

<head>
  <!-- CSS style sheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Main heading for the page -->
  <title>To-Do List</title>
  <!-- Button position -->
  <style>
    #logout_button {
      position: fixed;
      top: 2px;
      right: 2px;
    }
  </style>
</head>

<body>
  <!-- Button to logout -->
  <form action="{{ url_for('logout')}}" method="POST">
    <button id="logout_button" type="submit">Logout</button>
  </form>
</form>
</body>
</html>