<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<html>
  
<head>
  <div class="top_bar">
    
    <ul class="account_options">
      <!-- Button to sell item -->
      <form action="{{ url_for('sell_item')}}" method="POST">
        <button id="goto_sell_item" type="submit"><a><ion-icon name="add-outline"></ion-icon>Angebot erstellen</a></button>
      </form>

      <!-- Button to remember -->
      <button id="remember" type="submit"><a><ion-icon name="heart-outline"></ion-icon>Merkliste</a></button>

      <!-- Button to go to the user's items -->
      <form action="{{ url_for('my_items') }}" method="GET">
        <button id="my_items_button" type="submit"><a><ion-icon name="list-outline"></ion-icon>Meine Angebote</a></button>
      </form>

      <!-- Button to logout -->
      <form action="{{ url_for('logout')}}" method="POST">
        <button id="logout_button" type="submit">
          <a>
            <ion-icon name="{% if current_user_email %}log-out-outline{% else %}log-in-outline{% endif %}"></ion-icon>
            {% if current_user_email %}Logout{% else %}Login{% endif %}
          </a>
        </button>
      </form>

    </ul>

    <!-- Logo -->
    <a href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="TellSellLogo">
    </a>    
    <!-- searchbar -->
    <div class="searchbar">
      <ion-icon name="search-outline" id="search-icon"></ion-icon>
      <form class="searchform" action="{{ url_for('index') }}" method="get">
          <input type="text" id="search" name="search" placeholder="Suchen">
          <button type="submit"></button>
      </form>
    </div>

    <!-- Categories -->
    <ul class="categories">
      <li><a href="{{ url_for('index') }}"><ion-icon name="apps"></ion-icon>Alle Kategorien</a></li>
      <li><a href="{{ url_for('index', category='Bücher') }}"><ion-icon name="book-outline"></ion-icon>Bücher</a></li>
      <li><a href="{{ url_for('index', category='Elektronik') }}"><ion-icon name="laptop-outline"></ion-icon>Elektronik</a></li>
      <li><a href="{{ url_for('index', category='Fundwaren') }}"><ion-icon name="help-outline"></ion-icon>Fundwaren</a></li>
      <li><a href="{{ url_for('index', category='Jobs') }}"><ion-icon name="business-outline"></ion-icon>Jobs</a></li>
      <li><a href="{{ url_for('index', category='Kleidung') }}"><ion-icon name="shirt-outline"></ion-icon>Kleidung</a></li>
      <li><a href="{{ url_for('index', category='Notizen') }}"><ion-icon name="document-outline"></ion-icon>Notizen</a></li>
      <li><a href="{{ url_for('index', category='Sportartikel') }}"><ion-icon name="basketball-outline"></ion-icon>Sportartikel</a></li>
      <li><a href="{{ url_for('index', category='Tutoring') }}"><ion-icon name="bulb-outline"></ion-icon>Tutoring</a></li>
    </ul>
  </div>
</head>

<body>
  <script type="module" src="./static/script.js"></script>

  <!-- Display all items -->
  <h1><ion-icon name="list-outline"></ion-icon><a>Angebote</a></h1>

  <!-- Sorting links -->
  <div>
    <a>Sortiere nach: </a>
    <a href="{{ url_for('index', sort='itemname') }}">Name</a>
    <a href="{{ url_for('index', sort='date_added') }}">Neuste</a>
    <a href="{{ url_for('index', sort='price') }}">Preis</a>
  </div>

  {% if items %}
    <div class="grid-container">
    
      {% for item in items %}
      <div class="grid-item" data-user-id="{{ item[4] }}" onclick="displayOwnerProfile(this)">
          <!-- Use a conditional to check if the item has a picture -->
          {% if item[5] %}
          <img src="{{ url_for('uploads', filename=item[5].replace('\\', '/')) }}" alt="Item Picture">
          {% else %}
            <img src="{{ url_for('static', filename='noimage.jpg') }}" alt="No Image">
          {% endif %}
          <ion-icon id="heartIcon" name="heart-outline" onclick="toggleHeart()"></ion-icon>
          <div class="name">{{ item[1] }}</div>
          <!--<div>{{ item[2] }}</div>  Beschreibung muss nicht auf startseite-->
          <div class="price">{{ item[3] }}.-</div>
        </div>
        {% endfor %}
    </div>
  {% else %}
    <h2>Momentan gibt es keine offenen Angebote</h2>
  {% endif %}

</body>

</html>
