<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style_loginandregister.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<html>

<head>
	<div class="top_bar">

	<img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="TellSellLogo">

	</div>
</head>

<body>
	<div class="login_box">

	<h1><ion-icon name="log-in-outline"></ion-icon><a>Login</a></h1>

	{% if error %}
		<p class="error"><ion-icon name="warning-outline"></ion-icon>{{ error }}</p>
	{% endif %}

	<form method="post">
		<div class="login_grid">
		<label>E-Mail:</label><input type="text" id="email" name="email">
		<label>Passwort:</label><input type="password" id="password" name="password">
		</div>

		<button type="submit">Login</button>
	</form>

	<!--button to go to register-->
	<form action="no_account" method="POST">
		<button type="submit">Registrieren</button>
	</form>

	</div>
</body>
</html>
