<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style_sell.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<html>

<head>
  <div class="top_bar">
    
    
    <ul class="account_options">
      <!-- Button to sell item -->
      <form action="{{ url_for('sell_item')}}" method="POST">
        <button id="goto_sell_item" type="submit"><a><ion-icon name="add-outline"></ion-icon>Angebot erstellen</a></button>
      </form>

      <!-- Button to remember -->
      <button id="remember" type="submit"><a><ion-icon name="heart-outline"></ion-icon>Merkliste</a></button>

      <!-- Button to go to the user's items -->
      <form action="{{ url_for('my_items') }}" method="GET">
        <button id="my_items_button" type="submit"><a><ion-icon name="list-outline"></ion-icon>Meine Angebote</a></button>
      </form>

      <!-- Button to logout -->
      <form action="{{ url_for('logout') }}" method="POST">
        <button id="logout_button" type="submit">
          <a><ion-icon name="log-out-outline"></ion-icon>Abmelden</a>
        </button>
      </form>

    </ul>

    <!-- Logo -->
    <a href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="TellSellLogo">
    </a>
    <!-- searchbar-->    
    <div class="searchbar">
      <ion-icon name="search-outline" id="search-icon"></ion-icon>
      <form class="searchform" action="{{ url_for('index') }}" method="get">
          <input type="text" id="search" name="search" placeholder="Suchen">
          <button type="submit"></button>
      </form>
    </div>

    <!-- Categories -->
    <ul class="categories">
      <li><a href="{{ url_for('index') }}"><ion-icon name="apps"></ion-icon>Alle Kategorien</a></li>
      <li><a href="{{ url_for('index', category='Bücher') }}"><ion-icon name="book-outline"></ion-icon>Bücher</a></li>
      <li><a href="{{ url_for('index', category='Elektronik') }}"><ion-icon name="laptop-outline"></ion-icon>Elektronik</a></li>
      <li><a href="{{ url_for('index', category='Fundwaren') }}"><ion-icon name="help-outline"></ion-icon>Fundwaren</a></li>
      <li><a href="{{ url_for('index', category='Jobs') }}"><ion-icon name="business-outline"></ion-icon>Jobs</a></li>
      <li><a href="{{ url_for('index', category='Kleidung') }}"><ion-icon name="shirt-outline"></ion-icon>Kleidung</a></li>
      <li><a href="{{ url_for('index', category='Notizen') }}"><ion-icon name="document-outline"></ion-icon>Notizen</a></li>
      <li><a href="{{ url_for('index', category='Sportartikel') }}"><ion-icon name="basketball-outline"></ion-icon>Sportartikel</a></li>
      <li><a href="{{ url_for('index', category='Tutoring') }}"><ion-icon name="bulb-outline"></ion-icon>Tutoring</a></li>
    </ul>
  
  </div>
</head>

<body>

  <h1><ion-icon name="card-outline"></ion-icon><a>Verkaufen</a></h1>

  <form action="{{ url_for('add_item')}}" method="POST" enctype="multipart/form-data">
    <div class="sellgrid">
      <a>Artikelname:</a>

      <input type="text" id="itemname" name="itemname" required>

      <a>Kategorie:</a>
        <div class="category_grid">
          <div class="category"><input type="radio" name="category" value="Bücher" required><ion-icon name="book-outline"></ion-icon><a>Bücher</a></div>
          <div class="category"><input type="radio" name="category" value="Elektronik"><ion-icon name="laptop-outline"></ion-icon><a>Elektronik</a></div>
          <div class="category"><input type="radio" name="category" value="Fundwaren"><ion-icon name="help-outline"></ion-icon><a>Fundwaren</a></div>
          <div class="category"><input type="radio" name="category" value="Jobs"><ion-icon name="business-outline"></ion-icon><a>Jobs</a></div>
          <div class="category"><input type="radio" name="category" value="Kleidung"><ion-icon name="shirt-outline"></ion-icon><a>Kleidung</a></div>
          <div class="category"><input type="radio" name="category" value="Notizen"><ion-icon name="document-outline"></ion-icon><a>Notizen</a></div>
          <div class="category"><input type="radio" name="category" value="Sportartikel"><ion-icon name="basketball-outline"></ion-icon><a>Sportartikel</a></div>
          <div class="category"><input type="radio" name="category" value="Tutoring"><ion-icon name="bulb-outline"></ion-icon><a>Tutoring</a></div>
        </div>

      <a>Beschreibung:</a>

      <textarea id="itemdesc" name="itemdesc" required></textarea>

      <a>Zustand:</a>

      <div class="condition_container">
        <div class="condition" id="trash"><a>Defekt</a></div>
        <div class="condition" id="used"><a>Gebraucht</a></div>
        <div class="condition" id="like_new"><a>Wie Neu</a></div>
        <div class="condition" id="new"><a>Neu</a></div>
      </div>

      <a>Preis:</a>

      <input class="price" type="number" id="price" name="price" step="0.01" min="0.01" required>

      <a>Bild hochladen:</a>
        <div class="upload">
          <div class="upload-content">
              <ion-icon name="cloud-upload-outline"></ion-icon><a>Hochladen</a>
          </div>
          <input type="file" id="item_picture" name="item_picture" accept="image/*" onchange="previewImage()">
      </div>
      <img class="preview_img" id="preview" src="" alt="Uploaded Image" style="max-width: 100%; max-height: 200px; margin-top: 10px; display: none;">
    
      <div></div>

      <button type="submit" id="addItemButton"><a><ion-icon name="add-circle-outline"></ion-icon>Erstellen</a></button>

    </div>
  </form>

  <button class="home">
    <a href="{{ url_for('index') }}"><ion-icon name="home-outline"></ion-icon>Zurück zur Startseite</a>
  </button>

  <!-- Ich entschuldige mich für den folgenden Code: -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
</html>
