
.top_bar {
  position: fixed; /* Fixed position to stay in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;/* 100% of the viewport height */
  height: 300px;
  background-color: rgba(0,20,44,1);
  box-sizing: border-box;
  z-index: 1;

  border-bottom: 6px solid #0a51bb;
}

.top_bar::before,
.top_bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
}

.top_bar::before {
  top: 300px;
  background-color: #1fb2e8; /* Red */
}

.top_bar::after {
  top: 306px; /* Adjust the distance of the third line from the bottom */
  background-color: #3bf1ff; /* Blue */
}

.logo {
  padding-left: 42%;
  padding-top:.5%;
  width: 250px;
  height: 250px;
}

/* ###########################*/
/* BODY CODE */
body {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 20%;
  background: linear-gradient(0deg, rgba(1,63,138,1) 0%, rgba(0,20,44,1) 70%);/**/
  background-attachment: fixed;
}

h1 {
  display: flex;
  align-items: center;
}

h1 ion-icon {
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
}

/* Styles for the main heading */
h1 a {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'Segoe UI';
  font-size:40px;
  margin-left: 12px;
}

label {
  font-size: 24px;
  margin-top: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.login_box {
  padding: 20px;
  border-radius: 5%;
  background-color: rgb(1, 42, 93);
  position: fixed; /* Fixed position to stay in place while scrolling */

  box-sizing: border-box;
}

.login_grid {
  display: grid;
  padding-bottom: 20px;

  grid-template-columns: .5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid_item {
  align-items: start;
  margin: 5px;
}