.logo {
  width: 150px;
  height: 150px;
}

body {
  background-color: #00142c; /* just for backup*/
  background: linear-gradient(0deg, rgba(1,63,138,1) 0%, rgba(0,20,44,1) 80%);
  background-attachment: fixed;
}


/* #### shit for menubar ####*/
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
  overflow: hidden;
  
}

li {
  float: left;
}

li + li {
  margin-left: 10px;
}

li a {
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: "Guill Sans", sans-serif;

  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(16, 73, 143);

  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

li a:hover {
  background-color: rgb(44, 89, 145);
}

p {
  font-family: 'Tahoma';
  font-size: 20px;
}
/* ###########################*/

/* Styles for the main heading */
h1 {
  color: lavenderblush;
  text-align: center;
  font-family: 'Segoe UI'
}

/* Styles for the subheadings */
h2 {
  font-size: 24px;
  margin-top: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: #acacbe;
}

/* Styles for the incomplete tasks */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 300px; /* set the maximum height for the list */
  overflow-y: auto; /* add a scrollbar when the list exceeds the maximum height */
}

ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* not really in use ¯\_(ツ)_/¯ */
input[type="text"] {
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-grow: 1;

  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);

  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/*item name and email*/
input[type="text"],
button[type="submit"] {
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  padding: 8px 16px;
  background-color: #ebebeb;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1); 
}

/*only submit buttons*/
button[type="submit"] {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 3px;

  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;

  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
}

/*only price button*/
input[type="number"] {
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  padding: 8px 16px;
  background-color: #ebebeb;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1); 
}

/* for discription of product */
textarea {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #ebebeb;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1); 
}

.save-button {
  background-color: #715fde;
  color: #acacbe;
}

/* Styles for the completed tasks */
ul:last-of-type {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 300px; /* set the maximum height for the list */
  overflow-y: auto; /* add a scrollbar when the list exceeds the maximum height */
}

ul:last-of-type li {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #acacbe;
}

/* Styles for the form to add a new task */
form:last-of-type {
  margin-top: 50px;
  color: #ffffff;
}

label {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #acacbe;
}

/* Dark mode */
body.dark-mode {
  background-color: #353740;
}

input[type="text"].dark-mode {
  background-color: #6e6e80;
  color: #ffffff;
  border: 1px solid #353740;
}

.collapsed {
  display: none;
}

/* Light mode */
body.light-mode {
  background-color: #ffffff;
}

input[type="text"].light-mode {
  background-color: #f0f0f0;
  color: #353740;
  border: 1px solid #ccc;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
